{
  "presets": [
    "@babel/preset-react",
    ["@babel/preset-env", {
      "targets": {
        "chrome": 66,
        "firefox": 60,
        "edge": 42,
        "safari": 12
      },
      "modules": false,
      "useBuiltIns": "usage",
      "corejs": 3
    }]
  ]
}
